/* algemene style sheet waarin de partials in komen*/
* {
  font-family: 'Open Sans', sans-serif;
  color: #312F30; }

.navbar {
  background-color: #312F30; }

h1 {
  color: #8C7468; }

h2 {
  color: #453829; }

h5 {
  color: #453829; }

.fa {
  color: #116e11; }

.fa:hover {
  color: #00676f; }

.btn {
  background-color: #116e11;
  color: white;
  border: #116e11; }

.btn:hover {
  background-color: #00676f;
  border: #116e11;
  color: white; }

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px; }

.hero-text {
  text-align: center;
  padding-top: 150px; }

.aboutsection {
  background-color: white;
  padding-bottom: 300px; }

.cardtech {
  margin-top: 50px; }

.cardpeople {
  margin-top: 50px; }

.cardtech:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.cardpeople:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.parallax-home {
  padding: 0;
  background-image: url("../assets/adult-artificial-intelligence-bot-1020325.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-event {
  height: 200px; }

.eventsection {
  background-color: white;
  padding-bottom: 200px; }

footer {
  background-color: #1b1e21;
  color: white; }

footer ul {
  text-decoration: none;
  width: 100%; }

footer ul li {
  display: inline-block; }

.icon {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50%; }

.icon .fa {
  margin-left: 10px;
  margin-right: 20px; }

.icon a {
  text-decoration: none; }

/* positions h1 in center of carousel */
#carouseldiv {
  z-index: -1;
  position: relative; }

#carousel-h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite; }

/*removes scrollbar caused by 0padding containers*/
.carouselcontainer, .aboutcontainer {
  overflow: hidden; }

/*adds margins to about page text-boxes and images */
.main-text-box {
  max-width: 600px;
  background-color: grey; }

.about-image {
  max-width: 600px; }

.about-row {
  margin: 50px 50px; }

#carouseldiv {
  z-index: -1;
  position: relative; }

#carousel-h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite; }

/*removes scrollbar caused by 0padding containers*/
.carouselcontainer, .aboutcontainer {
  overflow: hidden; }

/*adds margins to about page text-boxes and images */
.main-text-box {
  max-width: 600px;
  background-color: grey; }

.about-image {
  max-width: 300px; }

.about-row {
  margin: 50px 50px; }

.space {
  margin: 35%; }

.container-fluid-events {
  padding: 0;
  background-image: url("http://wowslider.com/sliders/demo-18/data1/images/shanghai.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallaxevents {
  height: auto; }

.parafree {
  height: 450px; }

#demo {
  font-size: 70px;
  text-align: center;
  color: white; }

.timer {
  color: white;
  height: auto; }

.maps {
  height: 400px; }

.footerstuff {
  height: 50px; }

.map-responsive {
  overflow: hidden;
  position: relative;
  height: 400px; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.extrainfoevents {
  position: relative;
  left: 0;
  top: 10px; }

/*# sourceMappingURL=style.css.map */
