/* algemene style sheet waarin de partials in komen*/
* {
  font-family: 'Open Sans', sans-serif;
  color: #312F30; }

h1 {
  font-family: 'Lexend Deca', sans-serif; }

h2 {
  font-family: 'Lexend Deca',sans-serif; }

h3 {
  font-family: 'Lexend Deca',sans-serif; }

h4 {
  font-family: 'Lexend Deca',sans-serif; }

h5 {
  font-family: 'Lexend Deca',sans-serif; }

.navbar {
  background-color: #312F30;
  color: #8C7468; }

footer {
  background-color: #312F30; }

h1 {
  color: #8C7468;
  font-family: 'Lexend Deca',sans-serif; }

h2 {
  color: #453829; }

h5 {
  color: #453829; }

.fa {
  color: #116e11; }

.fa:hover {
  color: #00676f; }

.btn {
  background-color: #116e11;
  color: white;
  border: #116e11; }

.btn:hover {
  background-color: #00676f;
  border: #116e11;
  color: white; }

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px; }

.hero-text {
  text-align: center;
  padding-top: 150px; }

.aboutsection {
  background-color: rgba(246, 246, 246, 0.7);
  padding-bottom: 300px; }

.eventsection {
  background-color: rgba(246, 246, 246, 0.7);
  padding-bottom: 100px; }
  .eventsection .eventimage {
    padding-top: 50px;
    padding-right: 20px; }
  .eventsection .eventtext {
    text-align: center;
    margin-top: 100px;
    min-height: 300px; }

.cardtech {
  margin-top: 200px; }
  .cardtech .card-body {
    min-height: 300px; }

.cardpeople {
  margin-top: 200px;
  min-height: 800px; }
  .cardpeople .card-body {
    min-height: 300px; }

.cardtech:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.cardpeople:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.parallax-home {
  padding: 0;
  background-image: url("../assets/adult-artificial-intelligence-bot-1020325.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-event {
  height: 200px; }

footer {
  background-color: #1b1e21;
  color: white;
  position: relative; }

footer ul {
  text-decoration: none;
  width: 100%; }

footer ul li {
  display: inline-block;
  padding: 10px; }

footer ul li .top {
  position: absolute;
  right: 50px; }

.icon {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50%; }

.icon .fa {
  margin-left: 10px;
  margin-right: 20px; }

.icon a {
  text-decoration: none; }

audio {
  background-color: #312F30; }

/* positions h1 in center of carousel */
#carouseldiv {
  z-index: -1;
  position: relative; }

#carousel-h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*removes scrollbar caused by 0padding containers*/
.carouselcontainer, .aboutcontainer {
  overflow: hidden; }

/*adds margins to about page text-boxes and images */
.main-text-box {
  max-width: 320px;
  background-color: grey; }

.about-image {
  max-width: 320px; }

.about-row {
  margin: 50px auto; }

/* adds background to about tech */
#mainabout {
  background: -webkit-radial-gradient(#2c2c2c, #1a1a1a);
  background: radial-gradient(#2c2c2c, #1a1a1a); }

#carouseldiv {
  z-index: -1;
  position: relative; }

#carousel-h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*removes scrollbar caused by 0padding containers*/
.carouselcontainer, .aboutcontainer {
  overflow: hidden; }

/*adds margins to about page text-boxes and images */
.main-text-box {
  max-width: 600px;
  background-color: grey; }

.about-image {
  max-width: 300px; }

.about-row {
  margin: 50px 50px; }

.container-fluid-events {
  padding: 0;
  background-image: url("http://wowslider.com/sliders/demo-18/data1/images/shanghai.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallaxevents {
  height: auto; }

.parafree {
  height: 450px; }

.parafreetop {
  position: relative !important;
  overflow: hidden !important;
  display: block; }

#demo {
  font-size: 50px;
  text-align: center;
  color: white;
  margin-top: 6rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto; }

.timer {
  color: white;
  height: auto; }

.maps {
  height: 400px; }

.footerstuff {
  height: 50px; }

.map-responsive {
  overflow: hidden;
  position: relative;
  height: 400px; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/*# sourceMappingURL=style.css.map */
