
#carouseldiv {
  z-index: -1;
  position: relative;
}

#carousel-h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*removes scrollbar caused by 0padding containers*/

.carouselcontainer, .aboutcontainer {
  overflow: hidden;
}

/*adds margins to about page text-boxes and images */

.main-text-box {
  max-width: 600px;
  background-color: grey;
}

.about-image {
  max-width: 300px;
}

.about-row {
  margin: 50px 50px;
}