/* positions h1 in center of carousel */

#carouseldiv {
  z-index: -1;
  position: relative;
}

#carousel-h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}