* {
}



.container-fluid-events{
  padding: 0;
  background-image: url("http://wowslider.com/sliders/demo-18/data1/images/shanghai.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
  height: 50px;
}



.parallax{
  height: 400px;
}

.parafree{
  height: 450px;
}

#demo{
  font-size: 70px;
  text-align: center;
  color: white;
}

.timer{
  color: white;
}

