* {
  color: #767676;
}



.container-fluid{
  padding: 0;
  background-image: url("http://wowslider.com/sliders/demo-18/data1/images/shanghai.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
  height: 50px;
}



.parallax{
  height: 400px;
}

.parafree{
  height: 450px;
}