/* algemene style sheet waarin de partials in komen*/

$button: #116e11;
$buttonhover: #00676f;
$buttonactive: #04344e;
$h1color: #8C7468;
$otherh: #453829;
$basecolor: #312F30;
$white: rgba(246, 246, 246, 0.7);

*{
  font-family:'Open Sans', sans-serif;
  color:$basecolor;
}

h1{
  font-family:'Lexend Deca', sans-serif;
}
h2{
  font-family: 'Lexend Deca',sans-serif;
}

h3{
  font-family: 'Lexend Deca',sans-serif;
}

h4{
  font-family: 'Lexend Deca',sans-serif;
}
h5{
  font-family: 'Lexend Deca',sans-serif;
}

@import "home";
@import "about-technical";
@import "form";
@import "aboutppl";
@import "events";
