body {
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans";
}

.spacebetween2 {
  height: 400px;
}

.spacebetween1 {
  height: 400px;
}

.midsection1 {
  background-image: url("../img/banner-01-big.jpg"), url("../img/technology.jpg");
  background-position-x: center;
  background-position-y: 90px;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
}

.midsection2 {
  background-image: url("../img/technology.jpg");
  background-position-x: center;
  background-position-y: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banners {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#funding { padding-bottom: 40px;
}

#crowdfunding {
  width: 100%;
  background-color: rgba(254, 253, 233, 0.3);
  margin-bottom: 100px;
}

.kolomhoofd {
  margin: 0 auto;
  margin-top: 8px;
  padding: 20px 10px;
  background-color: lightgray;
}

.bigtitle {
  font-size: 36px;
  text-align: center;
}


.kolom {
  height: 360px;
  margin: 0 auto;
  padding: 20px 40px;
  .hptop {
    text-align: right;
  }
  .hpbottom {
    text-align: left;
  }
  h3 {
    text-transform: capitalize;
  }
}

.fundingfoto {
  z-index: 1;
}

.theform {
  background-color: lightgray;
  padding: 40px 0;
}

.register {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 3%;
  padding: 3%;
  border-radius: 5px;

  .register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;

    input {
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      width: 60%;
      background: #f8f9fa;
      font-weight: bold;
      color: #383d41;
      margin-top: 30%;
      margin-bottom: 3%;
      cursor: pointer;
    }

    img {
      margin-top: 15%;
      margin-bottom: 5%;
      width: 25%;
      border-radius: 5px;
      -webkit-animation: mover 2s infinite alternate;
      animation: mover 1s infinite alternate;
    }

    p {
      font-weight: lighter;
      padding: 12%;
      margin-top: -9%;
    }
  }

  .register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
  }

  .register-form {
    padding: 10%;
    margin-top: 10%;
  }

  .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;

    .nav-link {
      padding: 2%;
      height: 34px;
      font-weight: 600;
      color: #fff;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }

    .nav-link:hover {
      border: none;
    }

    .nav-link.active {
      width: 100px;
      color: #0062cc;
      border: 2px solid #0062cc;
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
  }

  .register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
  }
}

.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.payment-form {
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;

  .dark {
    background-color: #f6f6f6;

    .block-heading p {
      opacity: 0.8;
    }

    h1, h2, h3 {
      margin-bottom: 1.2rem;
      color: #3b99e0;
    }
  }

  .content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
  }

  .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;

    p {
      text-align: center;
      max-width: 420px;
      margin: auto;
      opacity: 0.7;
    }
  }

  form {
    border-top: 2px solid #5ea4f3;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #ffffff;
    padding: 0;
    max-width: 600px;
    margin: auto;
  }

  .title {
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
  }

  .products {
    background-color: #f7fbff;
    padding: 25px;

    .item {
      margin-bottom: 1em;

      p {
        margin-bottom: 0.2em;
      }
    }

    .price {
      float: right;
      font-weight: 600;
      font-size: 0.9em;
    }

    .total {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      padding-top: 19px;
      font-weight: 600;
      line-height: 1;
    }

    .item-name {
      font-weight: 600;
      font-size: 0.9em;
    }

    .item-description {
      font-size: 0.8em;
      opacity: 0.6;
    }
  }

  .card-details {
    padding: 25px 25px 15px;

    label {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #79818a;
      text-transform: uppercase;
    }

    button {
      margin-top: 0.6em;
      padding: 12px 0;
      font-weight: 600;
    }
  }

  .date-separator {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
}

@media (min-width: 576px) {
  .payment-form .title {
    font-size: 1.2em;
  }

  .payment-form .products {
    padding: 40px;
  }

  .payment-form .products .item-name {
    font-size: 1em;
  }

  .payment-form .products .price {
    font-size: 1em;
  }

  .payment-form .card-details {
    padding: 40px 40px 30px;
  }

  .payment-form .card-details button {
    margin-top: 2em;
  }
}